<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cyclone Report</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div id="map"></div>

    <script
      type="module"
      src="{{ url_for('static', filename='app.js') }}"
    ></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1MgLuZuyqR_OGY3ob3M52N46TDBRI_9k&callback=initMap&v=weekly"
      defer
    ></script>
  </body>
</html>
